.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.headerTitle {
  padding: 1rem 0;
  text-align: center;
}
.headerSubTitle {
  color: #f9cd41;
  text-align: center;
}
.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.hotelIcons {
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 5px solid #f9cd41;
  background: #eff0f4;
}
.hotelIcon {
  font-size: 7rem !important;
}
.apartmentIcons {
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 5px solid #f9cd41;
  background: #eff0f4;
}
.apartmentIcon {
  font-size: 7rem !important;
}
.foodBeverageIcons {
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 5px solid #f9cd41;
  background: #eff0f4;
}
.foodBeverageIcon {
  font-size: 7rem !important;
}
.wifiIcons {
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 5px solid #f9cd41;
  background: #eff0f4;
}
.wifiIcon {
  font-size: 7rem !important;
}
.iconName {
  color: black;
  font-weight: 500;
}
.icons,
.iconName:hover {
  color: #f9cd41;
  cursor: pointer;
}
.hotelIcons:hover,
.apartmentIcons:hover,
.foodBeverageIcons:hover,
.wifiIcons:hover {
  background: #0a2a61;
}
.article {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eff0f4;
}
.aboutTitle {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}
.aboutPara {
  text-align: center;
  color: gray;
  line-height: 2rem;
}
.images {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}
.imageOne {
  width: 40%;
}
.imageTwo {
  width: 40%;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.bookingButton {
  text-decoration: none;
  color: black;
  background: #eff0f4;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.3rem;
  outline: none;
  border: none;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bookingButton:hover {
  background: #0a2a61;
  color: #f9cd41;
}
